<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ISO8601} [%-p] %notEmpty{[%marker]} [%c{1}]:[%L]- %m%n"/>
        </Console>

        <RollingFile name="Error_File" fileName="./logs/nacional-service-err.log" filePattern="./logs/nacional-error-%d{-dd-MMMM-yyyy}- %i.log4j2.log.gz">
            <Policies>
                 <TimeBasedTriggeringPolicy/>
            </Policies>
            <PatternLayout pattern="%d{ISO8601} [%-p] %notEmpty{[%marker]} [%c{1}]:[%L]- %m%n"/>
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
        </RollingFile>

        <RollingFile name="File" fileName="./logs/nacional-service.log" filePattern="./logs/nacional-service-%d{-dd-MMMM-yyyy}- %i.log4j2.log.gz">
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <PatternLayout charset="ISO-8859-1" pattern="%d{ISO8601} [%-p] %notEmpty{[%marker]} [%c{1}]:[%L]- %m%n"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
            <AppenderRef ref="Error_File"/>
        </Root>
    </Loggers>
</Configuration>
